$pastel:#F0E6E1;
$purple: #4C466D;
$dark:#383D58;
$dark-gray:#676767;
$light-gray:rgba(#676767, 0.7);
$black:#000000;
$nav-color:rgba(255, 255, 255, 0.8);
$grad:linear-gradient(180.43deg, #DC8989 33.93%, #4C466D 99.63%);
$pink: #DD838F;


